Package: dev.callmeecho.decluttered
Name: Decluttered
Version: 1.0.0
Architecture: iphoneos-arm
Description: iOS can be cluttered. Lets fix that.
Maintainer: CallMeEcho
Author: CallMeEcho
Section: Tweaks
Depends: mobilesubstrate, preferenceloader
